<footer>
    <div class="copyright-text">
        © 2020 IET DAVV. All Rights Reserved. Website managed by IET-DAVV web development team. for any queries
        contact at: webmaster@ietdavv.edu.in
    </div>
    <div class="developer-text">
        Developed By :- Samkit Jain
    </div>
</footer>

</body>

</html>