<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <!-- style.css file path in the line below. -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- -------------------------------------- -->
    <title>Upload Files</title>
</head>

<body>

    <main class="admin">

        <div class="admin__upload-file">
            <form action="/api/uploadFile" enctype="multipart/form-data" method="post">
                <label for="sem1file">Sem1 File</label>
                <input type="file" class="admin__input" id="myFiles" name="sem1ZipFile"/>
                <label for="sem1file">Sem2 File</label>
                <input type="file" class="admin__input" id="myFiles" name="sem2ZipFile"/>
                <input type="file" class="admin__input" id="myFiles" name="branchChange"/>
                <input class="admin__submit" type="submit" />
            </form>
        </div>
        <button><a href="/files/sem1ZipFile.zip">Download</a></button>
    </main>

</body>

</html>