<%- include('partials/header.ejs') %>


<div class="col-md-6 offset-md-3 mt-5">
    <form accept-charset="UTF-8" action="api/uploadFile" method="POST" enctype="multipart/form-data">
        <div class="mb-3 upload-field">
            <label for="formFileMultiple" class="form-label">Upload Sem1 Files of all students</label>
            <input class="form-control" name="sem1ZipFile" type="file" id="formFileMultiple" multiple>
        </div>
        <div class="mb-3 upload-field">
            <label for="formFileMultiple" class="form-label">Upload Sem2 Files of all students</label>
            <input class="form-control" type="file" name="sem2ZipFile" id="formFileMultiple" multiple>
        </div>
        <div class="mb-3 upload-field">
            <label for="formFileMultiple" class="form-label">Upload csv file of students applying for branch
                change</label>
            <input class="form-control" type="file" name="branchChange" id="formFileMultiple" multiple>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<%- include('partials/footer.ejs') %>